<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-json-importer
                    label="Import Item Cards JSON"
                    expand="block"
                    fill="outline"
                    size="large"
                    classes="ion-margin"
                    (importEvent)="setCards($event)"
                ></app-json-importer>
                <ion-progress-bar value="1" color="light"></ion-progress-bar>
                <app-item-card-editor
                    [card]="card"
                    (saveCardEvent)="saveCard($event)"
                ></app-item-card-editor>
            </ion-col>
            <ion-col>
                <app-item-cards-controls
                    [preview]="preview"
                    (togglePreviewEvent)="togglePreview($event)"
                    [cards]="cards"
                ></app-item-cards-controls>
                <app-item-cards-table
                    *ngIf="!preview"
                    [cards]="cards"
                    (deleteCardEvent)="deleteCard($event)"
                    (loadCardEvent)="loadCard($event)"
                ></app-item-cards-table>
                <app-item-cards-viewer
                    *ngIf="preview"
                    [cards]="cards"
                    (loadCardEvent)="loadCard($event)"
                ></app-item-cards-viewer>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
