<ion-tabs>
    <ion-tab-bar
        class="ion-justify-content-start"
        slot="top"
        translucent="true"
    >
        <ion-tab-button
            class="dm-workshop"
            href="https://github.com/gulfaraz/dm-workshop"
        >
            <ion-label class="ion-text-start">
                <h1 class="text-weight-700">DM Workshop</h1>
                <ion-text class="text-weight-400">by Gulfaraz Rahman</ion-text>
            </ion-label>
        </ion-tab-button>
        <ion-tab-button tab="item-cards">
            <ion-label>Item Cards</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="combat-tokens">
            <ion-label>Combat Tokens</ion-label>
        </ion-tab-button>
        <ion-tab-button class="payment-link" [href]="paymentLink">
            <ion-label>Pay What You Want</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
