<ion-header class="ion-margin-bottom">
    <ion-toolbar color="transparent">
        <app-json-exporter
            *ngIf="!preview"
            label="Export Item Cards JSON"
            [json]="cards"
        ></app-json-exporter>
        <app-pdf-exporter
            *ngIf="preview"
            label="Export Item Cards PDF"
        ></app-pdf-exporter>
        <ion-segment
            class="ion-no-margin"
            [value]="preview"
            slot="end"
            color="dark"
            (ionChange)="togglePreview($any($event))"
        >
            <ion-segment-button value="false">
                <ion-label>Table</ion-label>
            </ion-segment-button>
            <ion-segment-button value="true">
                <ion-label>PDF</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
