.token {
    --size: 96px;
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    vertical-align: top;
    width: var(--size);
    height: var(--size);
    margin: 1px;
    float: left;
    border: 10px solid #ff00ff;
    border-radius: 50%;
    margin-top: calc(50% - var(--size) / 2);
}

.token.tiny {
    --size: 34px;
    border-width: 4px;
}

.token.small {
    --size: 70px;
    border-width: 6px;
}

.token.medium {
    --size: 70px;
    border-width: 6px;
}

.token.large {
    --size: 142px;
    border-width: 8px;
}

.token.huge {
    --size: 214px;
    border-width: 12px;
}

.token.gargantuan {
    --size: 286px;
    border-width: 14px;
}
