.body {
    padding: 0;
}

.sheet {
    --rows: 16;
    --columns: 23;
    --gap: 5mm;
    margin: 5mm;
    padding: 4.75mm 5mm;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(
        var(--rows),
        calc((100% - (var(--gap) * (var(--rows) - 1))) / var(--rows))
    );
    grid-template-columns: repeat(
        var(--columns),
        calc((100% - (var(--gap) * (var(--columns) - 1))) / var(--columns))
    );
    gap: var(--gap);
    height: 209.81mm;
    align-items: center;
    justify-items: center;
    page-break-before: always;
}

.token:hover {
    cursor: pointer;
    filter: saturate(0);
}
