.identifier {
    flex: 1;
}

.name {
    flex: 4;
}

.type {
    flex: 2;
}

.rarity {
    flex: 2;
}

.size-select {
    flex: 1;
    width: 100px;
    text-indent: 12px; // from .item-card-size-popover ion-item in styles.scss
}
