/* You can add global styles to this file, and also import other style files */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.text-weight-700 {
    font-weight: 700 !important;
}

.text-weight-400 {
    font-weight: 400 !important;
}

ion-button {
    --box-shadow: none;
}

ion-input {
    --padding-bottom: 0 !important;
}

ion-select {
    position: relative;
    top: -8px;
}

ion-card {
    box-shadow: none;
}

.item-card-size-popover {
    ion-item {
        --border-width: 0 0 0.55px 0;
        --show-full-highlight: 1;
        --inner-border-width: 0;
        --show-inset-highlight: 0;
        overflow: visible;
        text-indent: 12px;
    }
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

circle {
    cursor: pointer;
}

.tooltip {
    position: absolute;
    padding: 0.5rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: 0.7rem;
    z-index: 1;
    opacity: 0;
}
